body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    color: gray;
}
p {
    letter-spacing: .02em;
    line-height: 1.25rem;
}
h1 span {
    color: orange;
}

 /* top banner area */

.top-banner p {
    margin-bottom: 50px;
}
.flexible  {
    display: flex;
    padding-top: 50px; 
    padding-bottom: 50px;
}
.half-width{
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;

}

.link-btn {
    text-decoration: none;
   
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 30px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    letter-spacing: .05rem;
    font-size: 20px;
}


/* about area */
    .about {
        background-image: url(images/7.png);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .about img {
        width: 50%;
        padding-left: 70px;
        padding-top: 20px;
    }
    #about-content {
        padding-top: 20px;
    }
    #about-content p {
        margin-bottom: 100px;
    }


/* recipies araa */
.recipies {
    padding: 40px;
}
.recipies-content {
    text-align: center;
    width: 60%;
    margin: auto;
}

.recipies-content h2 {
    color: gray;
    letter-spacing: .02em;
    font-size: 40px;
}

.recipies-item {
    width: 28%;
    margin-left: 4%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
}
#kabab {
    margin-right: 4%;
}
.recipies-item img {
    width: 100%;
}


/* optional area */

/* .reservation area */

.reservation {
    display: flex;
    padding: 50px;
    background-color: #F7F7F7;
}

.half-width {
    width: 50%;
}

.info h1 {
    color: gray;
    font-weight: 700;
    letter-spacing: .025em;
}
.info h3 {
    color: gray;
    letter-spacing: .025em;
}





.table {
    display: flex;
    margin: 15px;
} 

.half {
    width: 50%;
}

.table-item input {
    padding: 10px;
    width: 40%;
    color: gray;
    background-color: lavender;
    border: 1px solid lavender;
}  

#submit {

    padding: 10px 20px;
    border: 1px solid salmon;
    border-radius: 10px;
    color: white;
    background-color: lightcoral;
}
/* count area */

.count {
    box-shadow:10px 10px 40px gray ;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
}
.count-item {
    width: 26%;
    margin-left:10%;
    margin-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.count-item h1 {
    line-height: normal;
    margin: 0;

}

/* subcribe area */
.subscribe {
    display: flex;
    color: #FBFBFB;
    background-color:lavender;
    padding: 50px 20px;
}
.subscribe-item {
    width: 26%;
    margin-left: 5%;
    margin-right: 5%;
    color: gray;
}
#signup-content {
    margin-bottom: 40px;
}
.subscribe-item a {
    text-decoration: none;
    color: navy;
}
.sign-btn {
    padding: 10px 20px;
   background: linear-gradient(45deg,lightsalmon,tomato);
   border-radius: 10px;
   
}

/* footer area */
 footer {
     text-align: center;
     padding-top: 30px;
     padding-bottom: 50px;
     background-color:#000000;
     color:lightslategray
  }
  footer h2 {
      color: gray;
      font-weight: 700;
      margin-bottom: 40px;
  }
footer h2 span {
    color: orange;
}